@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Jost:wght@300;400&family=Open+Sans:wght@600;700&family=Passion+One&family=Poppins:wght@300;400;500&family=Roboto+Slab&family=Roboto:wght@300;400;700&family=Work+Sans:wght@600&display=swap');



*{
    /* border:1px solid red; */
}

#scroll::-webkit-scrollbar {
    display: none;
  }

  .hideme{
    display:none;
  }

  #delivery_location{
    border: 1px solid red;
  }

  .btn{
    background: lightblue;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
  }

  .btn:hover{
    background-color: black;
    color: white;
  }